# JSON操作

In [1]:
import json

`json`を使ってJSONの文字列表現と辞書の相互変換ができる。

In [2]:
source_text = """{
    "name": "Taichi",
    "age": 40,
    "fav_things": ["Java", "BotW", "LUNA SEA"]
}"""

json_data = json.loads(source_text)
print(json_data)
print(type(json_data))

json_text = json.dumps(json_data)
print(json_text)
print(type(json_text))

{'name': 'Taichi', 'age': 40, 'fav_things': ['Java', 'BotW', 'LUNA SEA']}
<class 'dict'>
{"name": "Taichi", "age": 40, "fav_things": ["Java", "BotW", "LUNA SEA"]}
<class 'str'>

[pandas](https://pandas.pydata.org/)でもJSONを扱える。

In [3]:
import pandas as pd
import io

In [4]:
json_text = """[
    {"name": "Alice"},
    {"name": "Bob"},
    {"name": "Carol"},
    {"name": "Dave"},
    {"name": "Eve"}
]"""

df = pd.read_json(io.StringIO(json_text))
len(df)

# DataFrameはデフォルトでorient="columns"
# 特定の列に対して一括変換を行える
df["name"] = df["name"].apply(lambda name: name.upper())

names = [a["name"] for _, a in df.iterrows()]
names

['ALICE', 'BOB', 'CAROL', 'DAVE', 'EVE']

In [5]:
print("columns = " + df.to_json(orient="columns"))
print("index   = " + df.to_json(orient="index"))
print("records = " + df.to_json(orient="records"))
print("split   = " + df.to_json(orient="split"))
print("table   = " + df.to_json(orient="table"))
print("values  = " + df.to_json(orient="values"))

columns = {"name":{"0":"ALICE","1":"BOB","2":"CAROL","3":"DAVE","4":"EVE"}}
index   = {"0":{"name":"ALICE"},"1":{"name":"BOB"},"2":{"name":"CAROL"},"3":{"name":"DAVE"},"4":{"name":"EVE"}}
records = [{"name":"ALICE"},{"name":"BOB"},{"name":"CAROL"},{"name":"DAVE"},{"name":"EVE"}]
split   = {"columns":["name"],"index":[0,1,2,3,4],"data":[["ALICE"],["BOB"],["CAROL"],["DAVE"],["EVE"]]}
table   = {"schema":{"fields":[{"name":"index","type":"integer"},{"name":"name","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"name":"ALICE"},{"index":1,"name":"BOB"},{"index":2,"name":"CAROL"},{"index":3,"name":"DAVE"},{"index":4,"name":"EVE"}]}
values  = [["ALICE"],["BOB"],["CAROL"],["DAVE"],["EVE"]]

PandasはJSON Linesも扱える。

In [6]:
json_text = """
{"name": "Alice"}
{"name": "Bob"}
{"name": "Carol"}
{"name": "Dave"}
{"name": "Eve"}
"""

df = pd.read_json(io.StringIO(json_text), lines=True)
df

    name
0  Alice
1    Bob
2  Carol
3   Dave
4    Eve